/* Style de la navbar */
.navbar {
  background-color: #f8e1a1 !important;
  color: #333 !important;
}

.navbar-brand {
  font-size: 1.8rem !important;
  color: #007bff !important;
}

.navbar-nav .nav-link {
  color: #333 !important;
  padding: 10px 15px !important;
}

.navbar-nav .nav-link:hover {
  background-color: #a8e6cf !important;
}

.navbar-nav .nav-link.active {
  color: #007bff !important;
}
